[user]
	name = Nate Jones
	email = nate@endot.org
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[alias]
	a = add
	br = branch
	st = status
	ss = status --short
	ci = commit
	di = diff
	co = checkout
	w = whatchanged
	vimdiff = difftool --tool=vimdiff -y
	vd = difftool --tool=vimdiff -y
	od = difftool --tool=opendiff -y
	unstage = reset HEAD
	lol = log --oneline --graph --decorate
	hist = "!echo 'use git la instead'"
	lg = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
	lgs = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -30"
	lgss = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -6"
	la = "log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
	las = "log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -30"
	lass = "log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -6"
	x = "!gitx"
	wl = walklog
	isunclean = "![ -n \"`git ls-files --modified --deleted --others --exclude-standard`\" ]"
	serve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
	pr = "!f() { git fetch origin pull/$1/head:pr-$1 && git checkout pr-$1; }; f"
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[push]
	default = matching
[core]
	excludesfile = ~/.gitignore.global
[github]
	user = justone
[include]
	path = ~/.gitconfig.local
