[user]
	name = Nate Jones
	email = nate@endot.org
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[alias]
	a = add
	br = branch
	rbr = branch --sort=-committerdate
	rbrcsv = brcsv --sort=-committerdate
	cbr = rev-parse --abbrev-ref HEAD
	rd = !git commit --amend --date=now --no-edit && git show --format=fuller --stat
	st = status
	ss = status --short
	ci = commit
	di = diff
	dti = "!DFT_DISPLAY=side-by-side-show-both DFT_SYNTAX_HIGHLIGHT=off GIT_EXTERNAL_DIFF=difft git diff"
	cdi = diff --cached
	cdti = "!DFT_DISPLAY=side-by-side-show-both DFT_SYNTAX_HIGHLIGHT=off GIT_EXTERNAL_DIFF=difft git diff --cached"
	dtshow = "!DFT_DISPLAY=side-by-side-show-both DFT_SYNTAX_HIGHLIGHT=off GIT_EXTERNAL_DIFF=difft git show --ext-diff"
	co = checkout
	sw = switch
	w = whatchanged
	vimdiff = difftool --tool=vimdiff -y
	vd = difftool --tool=neovim -y
	od = difftool --tool=opendiff -y
	unstage = reset HEAD
	lol = log --oneline --graph --decorate
	lg = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
	lgs = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -12"
	lgss = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -6"
	la = "log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
	las = "log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -12"
	lass = "log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -6"
	lr = "log --exclude \"*stash*\" --exclude \"*/v*-rc*\" --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
	lrs = "log --exclude \"*stash*\" --exclude \"*/v*-rc*\" --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -12"
	lrss = "log --exclude \"*stash*\" --exclude \"*/v*-rc*\" --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -6"
	; from https://stackoverflow.com/a/60875067
	; stash-index = "!f() { ! git diff --cached --exit-code --quiet && git stash push --quiet --keep-index -m \"temp for stash-index\" && git stash push \"$@\" && git stash pop --quiet stash@{1} && git stash show -p | git apply -R; }; f"
	; from https://stackoverflow.com/a/60875082
	; stash-working = "!f() { git commit --quiet --no-verify -m \"temp for stash-working\" && git stash push \"$@\" && git reset --quiet --soft HEAD~1; }; f"
	x = "!gitx"
	pat = "!f() { git push && git push --tags; }; f"
	wl = walklog
	isunclean = "![ -n \"`git ls-files --modified --deleted --others --exclude-standard`\" ]"
	serve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
	db = delete-branch
	cb = create-branch
	hide = update-index --assume-unchanged
	unhide = update-index --no-assume-unchanged
	hidden = !git ls-files -v | grep \"^[a-z]\"
[merge]
	tool = neovim
[diff]
	tool = neovim
[difftool "neovim"]
	cmd = nvim -d $LOCAL $REMOTE
[mergetool "neovim"]
	cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
	prompt = false
[core]
	excludesfile = ~/.gitignore.global
	attributesfile = ~/.gitattributes.global
	; https://git-scm.com/docs/git-config#Documentation/git-config.txt-corepager
	pager = less -F
[github]
	user = justone
[credential "https://github.com"]
	username = justone
[credential "https://bitbucket.org"]
	username = newgnus
[credential]
	helper = cache --timeout=3600
[log]
	date = iso8601
[hub]
	protocol = https
[include]
	path = ~/.gitconfig.local
[branch]
	sort = authordate
[rerere]
	enabled = true
[diff "clojure"]
	xfuncname = (^\\(.*|\\s*\\(defn.*)
[pull]
	ff = only
