# main client conf

source-file ~/.tmux.shared

# change bind key to M-C-b
set-option -g prefix M-C-b

# prefix again goes to last window
bind-key M-C-b last-window

# reload
bind r source-file ~/.tmux.master

# window navigation
bind-key -n M-C-h prev
bind-key -n M-C-l next
bind-key -n M-C-n select-pane -t :.-
bind-key -n M-C-p select-pane -t :.+
