#!perl

use Test::More;
use strict;

use ${1};

#use FindBin qw($Bin);
#require "$Bin/helper.pl";

my @tests = (
    {   count => 1,
        code  => sub {
            my $t = 'test group';

            ok( 1, "$t - subtest" );
            }

    },
);

our $tests += $_->{count} for @tests;

plan tests => $tests;

$_->{code}->() for @tests;

