{
 :aliases {
           :try {:extra-deps {deps-try {:git/url "https://gitlab.com/eval/deps-try"
                                        :sha "9c5eb7d54fadbfc8f5c8b312678c7fee3cc69050"}}
                 :main-opts ["-m" "deps-try.main"]}
           :repl {:extra-deps {cljdev {:git/url "https://github.com/justone/cljdev.git"
                                       :sha "0606399da2612346290c667faa1d1ac4a096e58d"}}
                  :main-opts  ["-m" "cljdev.repl"]}
           :outdated {:extra-deps {olical/depot {:mvn/version "1.8.2"}}
                      :main-opts  ["-m" "depot.outdated.main"]}
           :new {:extra-deps {seancorfield/clj-new {:mvn/version "0.5.5"}}
                 :main-opts ["-m" "clj-new.create"]}
           :dev-resources {:extra-paths ["nate-scratch/dev-resources"]}
           :re-find {:extra-deps {MageMasher/re-find.fx
                                  {:git/url "https://github.com/MageMasher/re-find.fx"
                                   :sha "b29bde3519f7632b63eb71415943bf8a7cfa1462"}}
                     :main-opts ["-m" "re-find.fx"]}
           :carve {:extra-deps {borkdude/carve {:git/url "https://github.com/borkdude/carve"
                                                :sha "e71e820de9bf4cc68441445ae0c6f858b71be42a"}}
                   :main-opts ["-m" "carve.main"]}
           }
 }
