=head1 NAME

${1:MT::Package} - Backend for sshwarp daemon

=head1 VERSION

Version ${2:0.01}

=head1 SYNOPSIS

${3}

Perhaps a little code snippet.

    use $1;

    my $obj = $1->new();

=head1 FUNCTIONS

